<p id="notice"><%= notice %></p>

<h1>Listing Ideas</h1>

Platform:
<%= link_to "All", ideas_path(platform_id: nil) %>,
<%- @platforms.each do |platform| %>
  <%= link_to platform.name, ideas_path(platform_id: platform.id) %>,
<% end %>

<table>
  <thead>
    <tr>
      <th>
        Name
        <%= link_to "ASC", ideas_path(order: 'asc') %>
        <%= link_to "DESC", ideas_path(order: 'desc') %>
        <%= link_to "NEWEST", ideas_path(order: 'newest') %>
        <%= link_to "OLDEST", ideas_path(order: 'oldest') %>
      </th>
      <th> Owner </th>
      <th>Description</th>
      <th>Required skills</th>
      <th>Additional info</th>
      <th>Platform</th>
    </tr>
  </thead>

  <tbody>
 <% @ideas.each do |idea| %>
      <tr>
        <td><%= idea.name %></td>
        <td><%= idea.owner.try(:name) %></td>
        <td><%= idea.description %></td>
        <td><%= idea.arr_name_skill %></td>
        <td><%= idea.additional_info %></td>
        <td><%= idea.platform.try(:name) %></td>
        <td><%= link_to 'Show', idea %></td>
        <% if current_user && (current_user.is_owner?(idea.owner.try(:id)) || current_user.admin) %>
          <td><%= link_to 'Edit', edit_idea_path(idea)
      %></td>
          <td><%= link_to 'Destroy', idea, method: :delete,
      data: { confirm: 'Are you sure?'} %></td>
      <% end %>
      </tr>
<% end %>
  </tbody>
</table>

<br>

<%= link_to 'New idea', new_idea_path %>


