<p id="notice"><%= notice %></p>

<h3>Welcome</h3>

Platform:
<%= link_to "All", root_path(platform_id: nil) %>,
<%- @platforms.each do |platform| %>
  <%= link_to platform.name, root_path(platform_id: platform.id) %>,
<% end %>

<table>
  <thead>
    <tr>
      <th>
        Name
        <%= link_to "ASC", root_path(order: 'asc') %>
        <%= link_to "DESC", root_path(order: 'desc') %>
        <%= link_to "NEWEST", root_path(order: 'newest') %>
        <%= link_to "OLDEST", root_path(order: 'oldest') %>
      </th>
      <th>Platform</th>
      <th>Owner</th>
      <th>Designer</th>
      <th>Developer</th>
    </tr>
  </thead>

  <tbody>
    <%- @ideas.each do |idea| %>
      <tr>
        <td><%= idea.name %></td>
        <td><%= idea.platform.try(:name) %></td>
        <td><%= idea.try(:owner).try(:name) %></td>
        <td><%= idea.arr_name_respond_designer %></td>
        <td><%= idea.arr_name_respond_developer %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Idea', new_idea_path %>
